{% extends 'users/index.html' %}

{% block title %} {{item_title}} {% endblock %}

{% block content %}

    <h1 class="mb-6 text-3xl text-center">{{item_title}}</h1>

    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <div class="space-y-4">
            {{form.as_p}}
        </div>
            {% if form.errors or form.nonfield_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{field.errors}}
                    {% endfor %}

                    {{form.nonfield_errors}}
                </div>
            {% endif %}

         <button class="mt-5 w-full px-10 py-1 mt-2 text-lg bg-blue-700 hover:bg-blue-500 rounded-xl text-white">Add Item</button>

    </form>
{% endblock %}