{% extends 'users/index.html' %}
{%load static%}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-200 rounded=xl">
        <h1 class="mb-6 text-3xl text-center"> Register</h1>
        {% if messages %}
                {% for message in messages %}
                    <div class="p-2 mb-2 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        <form method="post" action="{% url 'register'%}">

            {% csrf_token %}

            <div class="form-group mb-3">
                <div class="form-group mb-3">

                    <label class="inline=block mb-2 font-semibold">Email</label>
                    <input class="w-full px-10 py-1 form-control rounded-lg" type="email" name="email" value="{{data.email}}" placeholder="Email">
                </div>

                <div class="form-group mb-3">
                    <label class="inline=block mb-2 font-semibold"> FullName</label>
                    <input class="w-full px-10 py-1 form-control rounded-lg" type="text" name="name" value="{{data.name}}" placeholder="FullName">
                </div>

                <div class="form-group mb-3">
                     <label class="inline=block mb-2 font-semibold"> UserName</label>
                    <input class="w-full px-10 py-1 form-control rounded-lg" type="text" name="username" value="{{data.username}}" placeholder="UserName">
                </div>

                <div class="form-group mb-3">
                     <label class="inline=block mb-2 font-semibold"> Password</label>
                    <input class="w-full px-10 py-1 form-control rounded-lg" type="password" name="password" value="" placeholder="Password">
                </div>

                <div class="form-group mb-3">
                    <label class="inline=block mb-2 font-semibold"> Confirm Password</label>
                    <input class="w-full px-10 py-1 form-control rounded-lg" type="password" name="password2" value="" placeholder="Confirm Password">
                </div>

            </div>

            <div class="checkbox">
                <label class="inline=block mb-2 font-semibold"><input type="checkbox" name="checkbox" > Agree with Terms of privacy.</label>

            </div>
            <button class=" w-full px-10 py-1 mt-2 text-lg bg-blue-700 hover:bg-blue-500 rounded-xl text-white">Register</button>
        </form>
        <p class="py-4 text-black-500 font-semibold" align="center"> By signing you agree to our Terms, Data Policy and Cookie Policy. </p>
        <br>
        <div align="center">
            <div class="form-group mb-3">
                <p class="text-black-500 font-semibold">Already have an account? <a href="{% url 'login' %}">
                    <button  class="p-3 px-10 py-1 text-lg bg-blue-700 hover:bg-blue-500 rounded-xl text-white text-center">Log in </button>
                </a></p>
            </div>
        </div>
    </div>
{% endblock %}